.App{
  height:100% !important;
  min-height:700px;
  min-width:840px;
  padding-bottom:50px;
}
.App .ui.block.center.aligned.header{
height:60px;
display:flex;
align-items: center;
justify-content: center;
padding:20px 0;
 box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.Loader .ui.active.transition.visible.inverted.dimmer, .Loader .ui.segment,.Loader .content,.Loader .center{
  width:100% !important;
  height:100vh !important;
}
.App .container{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width:90% !important;
  margin:0 auto !important;
  padding-bottom:20px;
}
.App h3{
  text-align:center;
  margin:0 !important;
  padding:0 !important;
}
.ui.attached.tabular.menu,.ui.bottom.attached.segment.active.tab{
  width:90%;
  margin:0 auto;

}
.ui.bottom.attached.segment.active.tab{
  min-height:700px !important;
}
